/*general*/
*{
  box-sizing: border-box;
}
html{
  font-size:10px;
  font-family: 'Montserrat', sans-serif;
}
.background{
  width:100%;
  height:100;
  position:fixed;
  z-index: -1;
}
.padding-top5{
  padding-top:5rem;
}
.padding-top2{
  padding-top:2rem;
}
a{
  text-decoration:none;
}
img{
  width:100%;
}
h1{
  font-size:4rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
}
.hero-header{
  font-size:4rem;
  font-family:acumin-pro, sans-serif;
  padding-bottom:5rem;
  padding-top: 10rem;
}

h2{
  font-size:2.2rem;
  line-height:5rem;
}
.hero{
  line-height:15rem;
  font-size:2.2rem;
}
h3{
  font-size:2rem;
  font-family: 'Acumin Pro', sans-serif;
  font-weight:bold;
  margin: 0 0 2rem 0;
}

h4{
  font-size:1.6rem;
  color: rgba(0,0,0, 0.5);
  padding-top:2rem;
}

h5{
  font-size:1.4rem;
  font-family: 'Acumin Pro', sans-serif;
  text-transform: uppercase;
}
p{
  font-size:1.6rem;
  text-align:left;
  margin: 2rem 0 0 0;
  line-height: 2.4rem;
}
button{
  color:white;
  font-size:1.6rem;
  background-color: #000000;
  padding: 1.8rem 3.6rem;
  margin: 2rem 0 0 0;
  font-weight: bold;
  border-radius: 0.5rem;
  width:100%;
}
a:visited{
  text-decoration:none;
}
button > a {
  text-decoration:none;
  color:white;
}

/*navigation*/
.topnav {
  background-color: #ffffff;
  position:fixed;
  top:0;
  width:100%;
  overflow: hidden;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, .16);
}
.mtop{
  margin-top:50px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.7rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}
/* Add an active class to highlight the current page */
.topnav a.active {
  float:left;
  background-color: #ffffff;
  color: #000000;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding:2rem;
  }
}
@media screen and (min-width:601px) and (max-width:2000px) {
  .mtop{
    margin:0;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: flex;
    justify-content: flex-end;

  }
  .topnav.responsive .active{
    float:left;
  }
}
/*hero section*/
.container{
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  margin:5rem 5%;
  }
.hero-container{
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  margin: 0 5%;
}
.hero{
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
}
.scroll{
  display:flex;
  justify-content: center;
  padding:10rem 0;
}
.scroll > img{
  width:6rem;
  height:6rem;
}
.cardpicture{
  display:flex;
  width:100%;
}
#footer-container{
  display:flex;
  justify-content:center;
  flex-direction:column;
  background-color:#000000;
  color:white;
  margin-top:10rem;
}
/*footer*/
.footer-pics{
  display:flex;
  justify-content: center;
  width:100%;
}
.footer-pics >a{
  margin:2rem 2rem;
}
.footpics{
  width:4rem;
  height:4rem;
}
.footer-words{
  display:flex;
  width:100%;
  justify-content:center;
  font-size:1.4rem;
  margin:0 0 2rem 0;
}
/*Projects*/
.project-header{
  padding-bottom:2rem;
}
.project-description{
  line-height:2.7rem;
}
.companalysis{
  font-size: 3rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  margin:1rem 1rem;
}
.googledrive{
  width:4.3rem;
  height:2.8rem;
}
.instagram{
  width:4.3rem;
  height:4.3rem;
}
.pinterest{
  width:2.2rem;
  height:2.2rem;
}
.compgroup{
  display:flex;
  align-items:center;
  margin: 2rem 0 0 0;
}
.userpersonas{
  font-size: 1.4rem;
  margin-top:1rem;
}
.personapicture{
  width: 15rem;
  height:15rem;
  margin-top:2rem;
}
.center{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin: 2rem 0 0 0;
}
.container-row{
  display:flex;
  justify-content:space-around;
}
.colorcontainer{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.color-row{
  display:flex;
  justify-content:space-around;
}
.logo-row{
  display:flex;
  justify-content:space-around;
  margin-top:2rem;
}
h4.karla{
  padding: 3rem 0 0 0;
  font-size:1.6rem;
  font-weight:bold;
  color:#000000;
}
.color-type{
  font-size:1.4rem;
}
h4.montserrat{
  padding: 3rem 0 0 0;
  font-size:1.6rem;
  font-weight:bold;
  color:#000000;
}
.logo1{
  width:5.1rem;
  height:7.5rem;
}
.logo2{
  width: 8.2rem;
  height:8.2rem;
}
.logo3{
  width: 4.8rem;
  height:7.1rem;
}
.logo4{
  width: 7.9rem;
  height:7.9rem;
}
.logos{
  display:flex;
  justify-content:space-around;
  margin:5rem 0 0 0;
}
.colors{
  width:10rem;
  height:10rem;
}
.firstsentence{
  font-family: 'Acumin Pro', sans-serif;
  font-weight:800;
}
.no-margin{
  margin: 0 0;
  padding-top:1rem;
}
.karla{
  font-family:'Karla';
}
.bold{
  font-weight:bold;
}
.italic{
  font-style:italic;
}
 /*Contact Page*/
.contact{
  padding-bottom:2rem;
}
 input{
   width:100%;
   height:5rem;
   border-radius:0.5rem;
   margin:2rem 0;
}
input[type=text], input[type=email], textarea {
  padding-left:1rem;
}
label{
  font-size:1.6rem;
  margin-top: 1rem;
}
input{
  font-size:1.6rem;
  border:1px solid #000000;
}
