/*general*/
*{
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration:none;
  font-size:1.6rem;
}
h1{
  font-size:4rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;

}
h2{
  font-size:2.2rem;
  line-height: 5rem;
  margin: 2rem 0;
}
h3{
  font-size:2rem;
  font-family: 'Acumin Pro', sans-serif;
  font-weight:bold;
  margin: 0 0 2rem 0;
}

h4{
  font-size:1.4rem;
  color: rgba(0,0,0, 0.5);
}

h5{
  font-size:1.4rem;
  font-family: 'Acumin Pro', sans-serif;
  text-transform: uppercase;
  margin: 5rem 0 0 0;
}
p{
  font-size:1.6rem;
  text-align:left;
  margin: 2rem 0 0 0;
  line-height: 2.7rem;
}
button{
  color:white;
  font-size:1.6rem;
  background-color: #000000;
  padding: 18px 32px;
  font-weight: bold;
  border-radius: 0.5rem;
  margin: 2rem 0 0 0;
}
a:visited{
  text-decoration:none;
}
button > a {
  text-decoration:none;
  color:white;
}
/*navigation*/
.nav-container{
  display:flex;
  justify-content:center;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, .16);
}
.nav{
  width:90%;
  display:flex;
  justify-content:space-between;
}
.leftnav{
  display:flex;
  justify-content:flex-start;
  align-items:center;
}
.rightnav{
  display:flex;
  justify-content:flex-end;
  align-items:center;
}
.name{
  margin: 2rem 1rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  color:#000000;
}
/*hero section*/
.container{
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  margin:5rem 5%;
  font-size:inherit;
}
.hero{
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
}
.scroll{
  display:flex;
  justify-content: center;
}

/*wolf card*/

.wolf{
  width:100%;
  display:flex;
  flex-direction:column;
}

/*busybus card*/

.busybus{
  display:flex;
  flex-direction:column;
}
img.cardpicture{
  display:flex;
  width:100%;
}
#footer-container{
  display:flex;
  justify-content:center;
  flex-direction:column;
  background-color:#000000;
  color:white;
}
/*footer*/
.footer-pics{
  display:flex;
  justify-content: center;
  width:100%;
}
.footer-pics >img{
  margin:2rem 2rem;
}

.footer-words{
  display:flex;
  width:100%;
  justify-content:center;
  font-size:1.4rem;
  margin:0 0 2rem 0;
}

/*Projects*/

.companalysis{
  font-size: 3rem;
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  margin:1rem 1rem;
}
.compgroup > img{
  width:4rem;
  height:4rem;
}
.compgroup{
  display:flex;
  align-items:center;
  margin: 2rem 0 0 0;
}
.userpersonas{
  font-size: 1.4rem;
}
.center{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin: 2rem 0 0 0;
}
.container-row{
  display:flex;
  justify-content:space-around;
}
.colorcontainer{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.color-row{
  display:flex;
}
h4.karla{
  padding: 2rem 0 0 0;
  font-weight:bold;
  color:#000000;
}
h4.montserrat{
  padding: 2rem 0 0 0;
  font-weight:bold;
  color:#000000;
}
.logos{
  display:flex;
  justify-content:space-around;
}
.firstsentence{
  font-family: 'Acumin Pro', sans-serif;
  font-weight:800;
}
.no-margin{
  margin: 0 auto;
}
.karla{
  font-family:'Karla';
  font-size:1.6rem;
}
.bold{
  font-weight:bold;
}
.italic{
  font-style:italic;
}
